{% load static sekizai_tags i18n admin_urls static admin_list %}
{% if portfolio_stocks_lines|length > 0 %}
	<table class="table table-sm table-bordered border-info">
		<thead>
			<tr>
				<th width="10%">Дата</th>
				<th width="10%">Цена</th>
				<th width="10%">Кол-во</th>
				<th width="10%">Сумма</th>
				<th width="10%">{% now "d.m.Y" %}</th>
				<th width="35%"></th>
				<th width="15%"></th>
			</tr>
		</thead>
		<tbody>
		{% for portfolio_stocks_line in portfolio_stocks_lines %}
			<tr>
				<td>{{ portfolio_stocks_line.date|date:"d.m.Y" }}</td>
				<td>{{ portfolio_stocks_line.price }} {{ portfolio_stocks_line.portfolio_stock.stock.currency }}</td>
				<td>{{ portfolio_stocks_line.quantity }}</td>
				<td>{{ portfolio_stocks_line.buy_total }} {{ portfolio_stocks_line.portfolio_stock.stock.currency }}</td>
				<td>{{ portfolio_stocks_line.day_price }} {{ portfolio_stocks_line.portfolio_stock.stock.currency }}</td>
				<td class="{% if portfolio_stocks_line.day_total > 0 %}text-success{% else %}text-danger{% endif %}">
					{{ portfolio_stocks_line.day_total|floatformat:"2" }} {{ portfolio_stocks_line.portfolio_stock.stock.currency }} ({{ portfolio_stocks_line.day_percent|floatformat:"2" }}%)
				</td>
				<td>
					<button type="button" class="btn btn-sm btn-link me-2 float-end" data-url="{% url 'portfolio:portfolio_stock_line_delete' pk=portfolio_stocks_line.id %}" data-bs-toggle="modal" data-bs-target="#form-modal-id"><i class="fas fa-trash"></i></button>
					<button type="button" class="btn btn-sm btn-link me-2 float-end" data-url="{% url 'portfolio:portfolio_stock_line_update' pk=portfolio_stocks_line.id %}" data-bs-toggle="modal" data-bs-target="#form-modal-id"><i class="fas fa-pencil-alt"></i></button>
					<button type="button" class="btn btn-sm btn-link me-2 float-end" type="button" data-bs-toggle="collapse" data-bs-target="#portfolio-stock-line-{{ portfolio_stock.id }}-id" aria-expanded="false" aria-controls="portfolio-stock-line-{{ portfolio_stock.id }}-id"><i class="fas fa-list-ul"></i></button>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% else %}
	<p class="small text-muted">Список акций пуст...</p>
{% endif %}


	{% addtoblock "js" %}
		<script>
			$( document ).ready(function() {});
		</script>
	{% endaddtoblock %}